@import 'tailwindcss';

@plugin 'tailwindcss-animate';

/** Dark Mode Variant **/
@custom-variant dark (&:is(.dark *));

/** Colors **/
:root {
  /** Base Colors **/
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 3%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3%);
  --muted: hsl(0 0% 97%);
  --muted-foreground: hsl(240 3% 40%);
  --accent: hsl(0 0% 96%);
  --accent-foreground: hsl(240 4% 20%);

  /** Contextual Colors **/
  --primary: hsl(212, 88%, 51%);
  --primary-active: hsl(212, 94%, 46%);
  --primary-deep: hsl(212, 94%, 20%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(0 0% 95%);
  --secondary-active: hsl(0 0% 92%);
  --secondary-deep: hsl(0 0% 85%);
  --secondary-foreground: hsl(240 4% 18%);
  --destructive: hsl(349, 86%, 50%);
  --destructive-active: hsl(349, 89%, 45%);
  --destructive-deep: hsl(349, 89%, 20%);
  --destructive-foreground: hsl(0 0% 100%);
  --warning: hsl(44, 99%, 57%);
  --warning-active: hsl(44, 90%, 51%);
  --warning-deep: hsl(44, 90%, 10%);
  --warning-foreground: hsl(0 0% 100%);
  --success: hsl(137, 89%, 41%);
  --success-active: hsl(137, 94%, 37%);
  --success-deep: hsl(137, 94%, 10%);
  --success-foreground: hsl(0 0% 100%);
  --info: hsl(252, 83%, 52%);
  --info-active: hsl(252, 80%, 46%);
  --info-deep: hsl(252, 80%, 20%);
  --info-foreground: hsl(0 0% 100%);
  --mono: hsl(222 15% 13%);
  --mono-active: hsl(0 0% 0%);
  --mono-deep: hsl(0 0% 0%);
  --mono-foreground: hsl(0 0% 100%);

  /** Base Styles **/
  --border: hsl(0 0% 94%);
  --input: hsl(0 0% 89%);
  --ring: hsl(0 0% 84%);
  --radius: 0.5rem;
}

.dark {
  /** Base Colors **/
  --background: hsl(240 10% 4%);
  --foreground: hsl(0 0% 90%);
  --card: hsl(240 10% 4%);
  --card-foreground: hsl(0 0% 90%);
  --popover: hsl(240 10% 4%);
  --popover-foreground: hsl(0 0% 90%);
  --muted: hsl(240 6% 9%);
  --muted-foreground: hsl(240 6% 60%);
  --accent: hsl(240 6% 10%);
  --accent-foreground: hsl(0 0% 98%);

  /** Contextual Colors **/
  --primary: hsl(212, 88%, 51%);
  --primary-active: hsl(212, 100%, 59%);
  --primary-deep: hsl(212 98% 61%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(240 6% 11%);
  --secondary-active: hsl(240 6% 15%);
  --secondary-deep: hsl(240 6% 22%);
  --secondary-foreground: hsl(0 0% 98%);
  --destructive: hsl(349, 86%, 50%);
  --destructive-active: hsl(349, 100%, 59%);
  --destructive-deep: hsl(349 86% 60%);
  --destructive-foreground: hsl(0 0% 100%);
  --success: hsl(137 89% 40%);
  --success-active: hsl(137 72% 44%);
  --success-deep: hsl(137 72% 50%);
  --success-foreground: hsl(0 0% 100%);
  --warning: hsl(44, 99%, 57%);
  --warning-active: hsl(44, 100%, 71%);
  --warning-deep: hsl(47 100% 58%);
  --warning-foreground: hsl(0 0% 100%);
  --info: hsl(256, 89%, 52%);
  --info-active: hsl(256, 100%, 58%);
  --info-deep: hsl(256 89% 62%);
  --info-foreground: hsl(0 0% 100%);
  --mono: hsl(0 0% 90%);
  --mono-active: hsl(0 0% 100%);
  --mono-deep: hsl(0 0% 100%);
  --mono-foreground: hsl(0 0% 0%);

  /** Base Styles **/
  --border: hsl(230 10% 14%);
  --input: hsl(230 10% 20%);
  --ring: hsl(230 10% 40%);
}

/** Theme Setup **/
@theme inline {
  /** Base Colors **/
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-active);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-active);

  /** Contextual Colors **/
  --color-primary: var(--primary);
  --color-primary-active: var(--primary-active);
  --color-primary-deep: var(--primary-deep);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-active: var(--secondary-active);
  --color-secondary-deep: var(--secondary-deep);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-active: var(--destructive-active);
  --color-destructive-deep: var(--destructive-deep);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-success: var(--success);
  --color-success-active: var(--success-active);
  --color-success-deep: var(--success-deep);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-active: var(--warning-active);
  --color-warning-deep: var(--warning-deep);
  --color-warning-foreground: var(--warning-foreground);

  --color-info: var(--info);
  --color-info-active: var(--info-active);
  --color-info-deep: var(--info-deep);
  --color-info-foreground: var(--info-foreground);

  --color-mono: var(--mono);
  --color-mono-active: var(--mono-active);
  --color-mono-deep: var(--mono-deep);
  --color-mono-foreground: var(--mono-foreground);

  /** Base Styles **/
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-collapsible-down: collapsible-down 0.2s ease-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

/** Global Styles **/
@layer base {
  * {
    @apply border-border;
  }

  *:focus-visible {
    @apply outline-ring rounded-xs shadow-none outline-2 outline-offset-3 transition-none!;
  }
}

/** Custom Scrollbar **/
@layer base {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--input);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--input) transparent;
  }
}

/** Custom Container **/
@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1440px) {
    padding-inline: 2rem;
    max-width: 1440px;
  }
}

/** Smooth scroll **/
html {
  scroll-behavior: smooth;
}
